<a href="https://colab.research.google.com/github/mahalaxmi2034/2216124_AIML_BootCamp/blob/main/2216124assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#IF STATEMENT
var=120
if var>0:
  print("true")
  print(var)

print("\n")
var1=0
if var1>0:
  print("true")
  print(var1)

true
120

In [6]:
#IF.....ELSE
var2=-1
if var2>0: 
  print("true")
  print(var)
else:
  print("false")

false

In [9]:
#NESTED IF
print("NESTED IF")
print("BUS TICKET")
age=int(input("enter age: "))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket")
  elif age==15:
    print("Quarter ticket+discount")
  else:
    print("Half ticket")
elif age>=19 and age<=60:
  print("Full Ticket")
elif age>60:
  print("Full Ticket + discount")
else:
  print("no ticket")

NESTED IF
BUS TICKET
enter age: 8
no ticket

In [10]:
#LOOPS
print("LOOPS")
print("FOR LOOP")
n=[6,5,9,21,29,34,25,32]
sum=0
for val in n:
  sum=sum+val
print("the sun is:",sum)

print("\n")
for i in range(1,11):
  print(i)

print("\n")
for i in range(1,11,2):
  print(i)

print("\n")
x=[2,3,4,5,6,7,8,9]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print(y)

print("\n")
#USING IF STATEMENTS
print("USING IF STATEMENTS")
d=[0,1,5,7]
for i in d:
  print(i)
else:
  print("no items")
print("\n")

for l in "python":
  print("current letter is: ",l)

print("\n")
#ITERATION BY SEQ INDEXING
print("ITERATION BY SEQ INDEXING")
fruit=['apple','banana','orange']
for index in range(len(fruit)):
  print('current fruit is: ',fruit[index])

LOOPS
FOR LOOP
the sun is: 161


1
2
3
4
5
6
7
8
9
10


1
3
5
7
9


[2, 4, 6, 8]


USING IF STATEMENTS
0
1
5
7
no items


current letter is:  p
current letter is:  y
current letter is:  t
current letter is:  h
current letter is:  o
current letter is:  n


ITERATION BY SEQ INDEXING
current fruit is:  apple
current fruit is:  banana
current fruit is:  orange

In [11]:
#WHILE LOOP
print("WHILE LOOP")
count=0
while (count<11):
  print(count)
  count=count+1

count=0
while (count<5):
  print(count)
  count=count+1
else:
  print("not less")

WHILE LOOP
0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
not less

In [14]:
#NESTED LOOPS
print("NESTED LOOPS")
print("MATRIX ADD")
x=[[1,2,3],
   [4,5,6],
   [7,8,9]]

y=[[2,4,6],[2,5,8],[3,6,9]]

res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
    print(r)

print("\n")
print("MATRIX MUL")
x=[[1,2,3],
   [4,5,6],
   [7,8,9]]

y=[[2,4,6],[2,5,8],[3,6,9]]

res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]*y[i][j]
  for r in res:
    print(r)

NESTED LOOPS
MATRIX ADD
[3, 6, 9]
[6, 10, 14]
[10, 14, 18]


MATRIX MUL
[2, 8, 18]
[0, 0, 0]
[0, 0, 0]
[2, 8, 18]
[8, 25, 48]
[0, 0, 0]
[2, 8, 18]
[8, 25, 48]
[21, 48, 81]

In [18]:
num=int(input("ENTER LAST VALUE TO GET TABLESS: "))
i=1
while(i<=num):
  print(f"Table {i}")#rawstring
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("------------------------------------------------")
  i=i+1

ENTER LAST VALUE TO GET TABLESS: 6
Table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
------------------------------------------------
Table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
------------------------------------------------
Table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
------------------------------------------------
Table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
------------------------------------------------
Table 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
------------------------------------------------
Table 6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
------------------------------------------------

In [19]:
#LOOP CONTROL STATEMENTS
print("LOOP CONTROL STATEMENTS")
print("BREAK")
for l in 'python':
  if l =='h':
    break
  print(l)

int1=10
while(int1>0):
  print(int1)
  int1=int1-1
  if int1==5:
    break

#continue
print("\n")
print("CONTINUE") 
for l in 'python':
 if l =='h':
   continue
 print(l)

int1=10
while(int1>0):
  print(int1)
  int1=int1-1
  if int1==5:
    continue

#PASS
print("\n")
print("PASS")
for l in 'python':
 if l =='h':
   pass
 print(l)

int1=10
while(int1>0):
  print(int1)
  int1=int1-1
  if int1==5:
    pass

LOOP CONTROL STATEMENTS
BREAK
p
y
t
10
9
8
7
6


CONTINUE
p
y
t
o
n
10
9
8
7
6
5
4
3
2
1


PASS
p
y
t
h
o
n
10
9
8
7
6
5
4
3
2
1

In [20]:
str1=input("enter a string: ")
str2=str1[::-1]
if(str1==str2):
  print("Palindrome")
else:
  print("not")

enter a string: 6
Palindrome

In [21]:
for i in range(1,101):
  str2=str(i)
  if (str2==str2[::-1]):
    print("yes the palindrome number is: ",i)

yes the palindrome number is:  1
yes the palindrome number is:  2
yes the palindrome number is:  3
yes the palindrome number is:  4
yes the palindrome number is:  5
yes the palindrome number is:  6
yes the palindrome number is:  7
yes the palindrome number is:  8
yes the palindrome number is:  9
yes the palindrome number is:  11
yes the palindrome number is:  22
yes the palindrome number is:  33
yes the palindrome number is:  44
yes the palindrome number is:  55
yes the palindrome number is:  66
yes the palindrome number is:  77
yes the palindrome number is:  88
yes the palindrome number is:  99

In [22]:
#EVEN ODD LISTS
a=[1,2,3,4,5,6,7,8,9]
b=[]
c=[]
for i in a:
  if(i%2==0):
    b.append(i) 
  else:
    c.append(i)
print(c)
print(b)

[1, 3, 5, 7, 9]
[2, 4, 6, 8]

Write a python program that generates desired output i.e, from countries list select out the country names that contain string “and”
Output: [“Finland”,”Ireland”]

In [24]:
Countries_list=['Finland','Germany','Sweden','Ireland','Turkey']
l=[]
for i in Countries_list:
  if("and" in i):
    l.append(i)
print(l)

['Finland', 'Ireland']

Write a python program that print respective grades of student: Grade – Outstanding for marks>=90

Grade A+ for marks >=80, <90

Grade A for marks >=70, <80

Grade B for marks >=60 and <70

<60 Grade C

In [25]:
m=int(input("enter marks: "))
if m>=90:
  print("OUTSTANDING")
elif m>=80 and m<90:
  print("A+")
elif m>=70 and m<80:
  print("A")
elif m>=60 and m<70:
  print("B")
else:
  print("C")

enter marks: 42
C

Create a list with name state list with 5 elements State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

Write a python program that extract first and last characters of each item and print in desired format.

Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

Output: dItAgAaOkA

In [27]:
s=["rahul","maha","snehitha","ram","suhaas"]
l=[]
for i in s:
  l.append(i[0])
  l.append(i[len(i)-1])
print(l)
dtr="".join(l)
#print(dtr)
str1=dtr.swapcase()
print(str1)

['r', 'l', 'm', 'a', 's', 'a', 'r', 'm', 's', 's']
RLMASARMSS

In [28]:
s=["Delhi","Telangana","Goa","AP","Kerala"]
str=""
for i in s:
  str+=i[0].lower()+i[-1].upper()
print(str)

dItAgAaPkA

In [29]:
#USER DEFINED FUTN
print("USER DEFINED FUTN")
def greet(name):
  '''this futn greets a person'''
  print("Hello,"+name+"Good morning")
greet("Chinnu")

USER DEFINED FUTN
Hello,ChinnuGood morning

In [30]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(0))
print(A(3))
print(A(4,4,4))

3
6
12

In [31]:
#KEYWORDS
print("KEYWORDS")
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,a=1))

KEYWORDS
7
5

In [32]:
#POSITIONAL
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [33]:
#ARBITARY KEYWORD
def key_arg(**kwargs):
  return kwargs
my_dict=key_arg(Apples=10,Oranges=20,Banana=30)
print(my_dict)
print(my_dict['Banana'])

{'Apples': 10, 'Oranges': 20, 'Banana': 30}
30

In [35]:
#ARBITARY POSITIONAL
def add_num(*n):
  print(n)
  print(sum(n))
add_num(5,11,29)

(5, 11, 29)

TypeError: ignored

In [36]:
#HIGHER ORDER FUTNS
def shout(text):
  return text.upper()

def whisper(text):
  return text.lower()

def explain(func):
  greet=func("Hii,i am higher order func")
  print(greet)
explain(shout)
explain(whisper)

HII,I AM HIGHER ORDER FUNC
hii,i am higher order func

In [37]:
#LAMBDA 
def inc(x):
  x=x+1
  return x
print(inc(8))

print((lambda x:x+1)(8))

res=lambda x:x+1
print(res(8))

9
9
9

In [38]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,2))
print((lambda x,y:x-y)(2,2))

4
4
0

In [39]:
#MAPPINGG
l=[1,2,3,4,5]
#res=lambda x:x+2
#print(res(l))

In [40]:
l=[1,2,3,4,5]
def inc(num):
  return num+2
res=list(map(inc,l))
print(res)


res=list(map(lambda x:x+2,l))
print(res)

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [41]:
from typing_extensions import OrderedDict
#EVEN OR ODD
def eo(num):
  if num%2==0:
    return "even"
  else:
    return "odd"

eo(2)


l=[2,5,4,6,9,8,5,1]
list(map(eo,l))

['even', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'odd']

In [42]:
l=['apples','banana','grapes']
r=list(map(lambda x:x.capitalize(),l))
print(r)

['Apples', 'Banana', 'Grapes']

In [43]:
#FILTER
def odd(n):
  if n%2!=0:
    return n
my_list=[2,5,9,6,4,7,3]
print(list(filter(odd,my_list)))

l=[15,25,6,3,96,4,8]
temp=list(filter(lambda x:x%2==0,l))
print(temp)

[5, 9, 7, 3]
[6, 96, 4, 8]

In [44]:
#MODULES
import os 
os.mkdir("hi")
os.chdir("hi")
os.getcwd()
os.listdir()
os.rmdir("/content/hi")

In [45]:
#MATH MODULE
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(1))
print(m.log(4))

3.141592653589793
2.718281828459045
2.0
4.0
1
1.5574077246549023
1.3862943611198906

In [46]:
#SYS MODULE
import sys
print(sys.path)
print(sys.version)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

In [47]:
#STATISTICS MODULE
import statistics as st
print(st.mean([21,29,34]))
print(st.median([21,29,34]))

28
29

In [48]:
#TIME MODULE
import time
print(time.time())
print(time.localtime())

1655216596.6727617
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=14, tm_min=23, tm_sec=16, tm_wday=1, tm_yday=165, tm_isdst=0)

In [49]:
#RANDOM MODULE
import random
print(random.randrange(1,50))
print(random.randint(1,100))
print(random.random())

28
93
0.9745609781101654

In [51]:
import random
gn=random.randint(0,5)
g1=int(input("enter"))
if g1==gn:
  print("won")
else:
    print("lost")

enter6
lost

Write a python program that remove items that are multiples of 5 from list: li=[1,2,5,6,7,10,15,25,65,78,90]

o/p: [1,2,6,7,78]

In [57]:
li=[1,2,5,6,7,10,15,25,65,78,90]
l2=[]
for i in li:
   if i%5!=0:
      l2.append(i)
print(l2)

[1, 2, 6, 7, 78]

In [59]:
li=[1,2,5,6,7,10,15,25,65,78,90]
for i in li[:]:
  if i%5==0:
    li.remove(i)
print(li)

[1, 2, 6, 7, 78]

Write a python program that generates desired output from fruits list. Filter out the fruits names that don’t start with ‘A’

Fruit=[“Apple”,”Banana”,”Pear”,”Avacado”,”Orange”,”Amla”]

Output: [“Apple”,”Avacado”,”Amla”]

In [60]:
Fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
l=[]
for i in Fruit:
  if i.startswith('A'):
    l.append(i)
print(l)

['Apple', 'Avacado', 'Amla']

In [61]:
Fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
t=list(filter(lambda x:x[0]=='A',Fruit))
print(t)

['Apple', 'Avacado', 'Amla']

Mssg=”Welcome to gradstellar bootcamp” X=”number of occurrences of ‘o’ in mssg”

Y=”number of occurrences of ‘e’ in mssg”

Compute (X+Y)2

In [62]:
Mssg="Welcome to gradstellar bootcamp"
x=Mssg.count('o')
y=Mssg.count('e')
print(x,y)
print((x+y)**2)

4 3
49

Write python program that filters a list by removing the elements that not start with vowel. I/P: [‘apple’,’orange’,’grapes’,’ball’,’bat’,’umbrella’]

O/P: [‘apple’,’orange’,’umbrella’]

In [63]:
li=["apple","orange","grapes","ball","bat","umbrella"]
t=list(filter(lambda x:x[0] in 'AEIOUaeiou',li))
print(t)

['apple', 'orange', 'umbrella']

Write a python program that displays unique element in a given list using function Li=[56,78,32,45,45,45,19,20]

O/P: [56,78,32,45,19,20]

In [65]:
Li=[56,78,32,45,45,45,19,20]
print(set(Li))

{32, 45, 78, 19, 20, 56}