<a href="https://colab.research.google.com/github/mahalaxmi2034/2216124_AIML_BootCamp/blob/main/2216124_AIML_BootCamp_Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.Implement the methods of String with examples

In [ ]:
#STRINGS
str="Mahalaxmi"

#indexing
print("\\INDEXING")
print(str[1])
print(str[-2])
print("\n")

#slicing
print("\\SLICING")
print(str[:])#total
print(str[1:])
print(str[:3])
print(str[-4:-2])
print(str[0:6:4])
print("\n")

#reverse string
print("\\REV STRING")
print(str[::-2])
print("\n")

#string operations
print("\\STRING OPERATIONS")
str1="hello"
str2="world"
str3=str1+str2
print(str3)
str4=str1*2
print(str4)
print("\n")

#string methods
print("\\STRING METHODS")
my_str="Mahalaxmi"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.upper())
print(my_str.title())
print("\n")

print(  "ORIGINAL")
str01="mahalaxmi koleti"
print(str01)
print("---upper")
print(str01.upper())
print("--lower")
print(str01.lower())
print("--swapcase")
print(str01.swapcase())
print("--title")
print(str01.title())
print("--capitalize")
print(str01.capitalize())
print("\n")
str5="     This is mahalaxmi form sru    "
print(str5)
print("--strip")
print(str5.strip())
print("--lstrip")
print(str5.lstrip())
print("--rstrip")
print(str5.rstrip())
print("\n")

\INDEXING
a
m


\SLICING
Mahalaxmi
ahalaxmi
Mah
ax
Ml


\REV STRING
ixlhM


\STRING OPERATIONS
helloworld
hellohello


\STRING METHODS
MAHALAXMI
mahalaxmi
mAHALAXMI
MAHALAXMI
Mahalaxmi


ORIGINAL
mahalaxmi koleti
---upper
MAHALAXMI KOLETI
--lower
mahalaxmi koleti
--swapcase
MAHALAXMI KOLETI
--title
Mahalaxmi Koleti
--capitalize
Mahalaxmi koleti


     This is mahalaxmi form sru
--strip
This is mahalaxmi form sru
--lstrip
This is mahalaxmi form sru
--rstrip
     This is mahalaxmi form sru

2.Implement the methods of List with examples

In [4]:
list_1=[2,4,6,8,9]
list_2=['s','r','u','n','i','v','e','r','s','i','t','y']
list_3=[[3,5,7,9],"hello",11.048]
#indexing
print(list_1[3])
#slicing
print(list_2[2:6])
#nested list
print(list_3[0][3])
print(list_3[1][2])
print(list_3[1][1])

list_1.append(3)
print(list_1)

list_2.extend(['h','e','l','l','o'])
print(list_2)

list_3.insert(4,0.6)
print(list_3)

del list_3[2]
print(list_3)

del list_1[0:3]
print(list_1)

list_2.remove('e')
print(list_2)

list_1.pop()
print(list_1)

list_2.clear()
print(list_2)

print(list_3.count(3))

print(len(list_3))

print(list_3.reverse())

print(list_2.sort())

8
['u', 'n', 'i', 'v']
9
l
e
[2, 4, 6, 8, 9, 3]
['s', 'r', 'u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y', 'h', 'e', 'l', 'l', 'o']
[[3, 5, 7, 9], 'hello', 11.048, 0.6]
[[3, 5, 7, 9], 'hello', 0.6]
[8, 9, 3]
['s', 'r', 'u', 'n', 'i', 'v', 'r', 's', 'i', 't', 'y', 'h', 'e', 'l', 'l', 'o']
[8, 9]
[]
0
3
None
None

3.Implement the methods of Tuple with examples.

In [7]:
tuple_1=("gradstellar","camp",12.666)
tuple_2=(2,4,6,8,5)
tuple_3=("python","learning")
print(tuple_1.count("gradstellar"))
print(tuple_2.index(4))
print(min(tuple_3))
print(max(tuple_3))
print(len(tuple_1))
print(tuple_1[2])
print(tuple_2[-3])
print(tuple_3[-1][2])

1
1
learning
python
3
12.666
6
a

4.Implement the methods of Dictionary with examples.

In [8]:
z={"name":"mahalaxmi","phn":888888888,"age":20}
print("--DICT METHODS--")
print("--GET")
print(z.get("phn"))
print(z['name'])
print("--KEYS")
print(z.keys())
print("--VALUES")
print(z.values())

--DICT METHODS--
--GET
888888888
mahalaxmi
--KEYS
dict_keys(['name', 'phn', 'age'])
--VALUES
dict_values(['mahalaxmi', 888888888, 20])

5.Implement the methods of Set with examples.

In [11]:
str={3,5,2,8,9}
str.add(4)
print(str)
str.update([0,6,1])
print(str)
str.remove(8)
print(str)
str.discard(4)
print(str)
str_1={10,3,2,6,8,5}

#intersection
print(str&str_1)
print(str.intersection(str_1))
print(str_1.intersection(str))

#difference
print(str-str_1)
print(str.difference(str_1))

#union
print(str|str_1)
print(str.union(str_1))
print(str_1.union(str))

{2, 3, 4, 5, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 9}
{0, 1, 2, 3, 5, 6, 9}
{2, 3, 5, 6}
{2, 3, 5, 6}
{2, 3, 5, 6}
{0, 1, 9}
{0, 1, 9}
{0, 1, 2, 3, 5, 6, 8, 9, 10}
{0, 1, 2, 3, 5, 6, 8, 9, 10}
{0, 1, 2, 3, 5, 6, 8, 9, 10}

6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.

In [12]:
n=int(input("ENTER A VALUE: "))
print(bin(n))
print(oct(n))
print(hex(n))

ENTER A VALUE: 30
0b11110
0o36
0x1e

7.Implement Arithmetic operators with examples.

In [14]:
#arithmetic operators
a=6
b=8
print("--ADD")
print(a+b)
print("--SUB")
print(a-b)
print("--MUL")
print(a*b)
print("--DIV")
print(a/b) #WITH FLOAT VALUE
print(a//b)#WITHOUT FLOAT VALUE
print("--MOD DIV")
print(a%b)
print("--POWER")
print(a**b)

--ADD
14
--SUB
-2
--MUL
48
--DIV
0.75
0
--MOD DIV
6
--POWER
1679616

8.Implement Assignment operators with examples.

In [15]:
a=8
b=4

print(a)

a+=3
print(a)

a-=3
print(a)

a*=3
print(a)

a/=3
print(a)

a%=3
print(a)

b//=3
print(b)

b**=3
print(b)

8
11
8
24
8.0
2.0
1
1

9.Implement Comparison operators with examples.

In [16]:
p=845
q=450
print(p==q)
print(p!=q)
print(p>q)
print(p<q)
print(p>=q)
print(p<=q)

False
True
True
False
True
False

10.Implement Logical operators with examples.

In [17]:
x=True
y=False
print("--AND")
print("x and y is",x and y)
print("--OR")
print("x or y is",x or y)
print("--NOT")
print("x not is",not x)

--AND
x and y is False
--OR
x or y is True
--NOT
x not is False

11.Implement Bitwise operators with examples.

In [18]:
#bitwise operators
a=8
B=14
print("--AND")
print(a&b)
print("--AXOR")
print(a^b)
print("--OR")
print(a|b)
print("--NOT")
print(~a)
print("--R SHIFT")
print(a>>2)
print("--L SHIFT")
print(a<<4)#left shift

--AND
0
--AXOR
9
--OR
9
--NOT
-9
--R SHIFT
2
--L SHIFT
128

12.Implement Membership operators with examples.

In [20]:
x="mahalaxmi koleti"
y={1:'a',2:'b'}
print('H' in x)
print(1 in y)
print('a'in y)

False
True
False

13.Implement Identity operators with examples

In [21]:
p=945
q='333'
print(p is not q)
print(p is q)

True
False

# New Section

14.Demonstrate Negative indexing for List and apply slicing.

In [23]:
Index=[22,33,55,74,36,47,74,'mahalaxmi']
#slicing
print(Index[4:])
print(Index[:])
print(Index[::-3])
print(Index[-3])
print(Index[-4])
print(Index[-5])

[36, 47, 74, 'mahalaxmi']
[22, 33, 55, 74, 36, 47, 74, 'mahalaxmi']
['mahalaxmi', 36, 33]
47
36
74

15.Predict the output for the given code snippet and justify the result.
print( 'A series of characters designated as one object known as a string'[::-1][4::3] ) Here [::-1] means the string is reversing and [4::3] means string starts from 4th index with size of pointer as 3 print("------------") print( 'welcome to Python traing program'[3:10][::-1]) Here [3:10] the string starts from 3rd index and stops at 10th index and it will be reversed.

In [24]:
print( 'A series of characters designated as one object known as a string'[::-1][4::3] )
print("------------")
print( 'welcome to Python traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
------------
ot emoc

16.Write a python code to get desired output Input string : p_phrase = "was it a car or a cat I saw" Output string : WAS I TAC A RO RAC A TI SAW

In [26]:
p_phrase="hello sru"
str=p_phrase.upper()
print(str[::-1])

URS OLLEH

17.You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO

In [27]:
x=int(input("enter number"))
print("the value of x is {}".format(x))
y=x*2
print("the value of x is {}".format(y))
#print('Z'*x"+"'O'*y)
print("Z"*x,"O"*y,sep='')

enter number6
the value of x is 6
the value of x is 12
ZZZZZZOOOOOOOOOOOO